/* Cores */
:root{
    --roxo1:  #4b0b51c7;
    --roxo2: #6a1d72;
    --roxoEscuro: rgb(46, 0, 46);
    --texto: orange;
}

/* Fontes */
@font-face {
    font-family: "Anonymous Pro";
    src: local(Anonymous Pro), url(C:\Users\John\Desktop\YARNEY\Fontes\Anonymous_Pro\AnonymousPro-Regular.ttf);
}

/* Geral */
* {
    margin: 0;
    padding: 0;
}

/* Corpo */
body {
    background-size: cover;
    /*Mudar as fonter!!*/
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-weight: bolder;
}

/* Cor dos texto */
h1, p, a, h2 {
    color: var(--texto);
}


/* Título */
h1 {
    text-align: center;
    font-size: 66px;
    margin-top: 200px;
}

/* Subtitulo */
p {
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
}

#criar {
    text-decoration: none;
}
#criar:hover {
    text-decoration: underline;
}

/* Formulário */
#login {
    background-color: rgb(80, 0, 80);
    align-content: center;
    align-items: left;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    border-radius: 20px;
    width: 570px;
    height: 300px;
    font-size: 25px;
    font-family: "Anonymous Pro", serif;
    text-align: center;
}

/* Texto do Formulário */
#login label {
    color: var(--texto);
    font-family: "Anonymous Pro", serif;
}

/* Inputs dos Formulário */
#login input {
    height: 40px;
    width: 60%;
    border-radius: 19px;
    font-size: 20px;
    padding-left: 10px;
    font-family: "Anonymous Pro", serif;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.932);
    border-color: #ffffff;
}

/*Texto dentro dos formulários */
#login input::placeholder{
    font-size: 15px;
}

/* Esqueci a senha */
#login a {
    margin-top: 60px;   
    font-size: 15px;
    text-decoration: none;
}

#login a:hover {
    text-decoration: underline;
    transition: background-color 0.5s;
}

/* Botão de entrar */
#btn-entrar {
    background-color: rgb(80, 0, 80);
    color: #ffcc00;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 60px;
    margin-left: 45%;
    margin-right: 40%;
    margin-top: 35px;
    font-family: "Anonymous Pro", serif;
}

#text_btn-entrar{
    text-decoration: none;
}

/* Efeito do Botão de entrar */
#btn-entrar:hover {
   background-color: var(--roxoEscuro);
   transition: background-color 1s;
}